* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
.wrapper {
  width: 100%;
  height: 600;
}
.graphItem {
  width: 100%;
  height: 600;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: #fff;
}
.Logo-wrapper {
  display: flex;
  align-items: center;
  margin: 10px;
}
.Logo-wrapper-inner-text {
  margin-left: 10px;
}
.chart-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #846ab5;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
